:root {
  /* акценты */
  --accent-night: #7ef9c0; /* неон-мята для ночи */
  --accent-day: #ff3b30; /* томат для дня   */

  /* текст */
  --ink: #111318; /* текст на светлом */
  --ink-inv: #e8eaf0; /* текст на тёмном  */
  --muted: #8f95a3;

  /* ночной фон — матовый */
  --night-0: #000; /* сплошной чёрный */
  --night-1: #0a0a0a; /* для лёгких теней */

  /* дневной фон — мягкий светлый (не белый) */
  --day-0: #f3f5f7;

  --time-size: clamp(56px, 12vw, 110px);
  --r-lg: 14px;
  --r-xl: 24px;
  --r-2xl: 32px;
}
